:root {
  --color-blue: hsl(216deg, 100%, 50%);

  --color-white: hsl(0deg, 0%, 100%);
  --color-gray-20: hsl(209deg, 38%, 89%);
  --color-gray-20-o25: hsl(209deg, 38%, 89%, 25%);
  --color-gray-20-o50: hsl(209deg, 38%, 89%, 50%);
  --color-gray-20-o75: hsl(209deg, 38%, 89%, 75%);
  --color-gray-40: hsl(214deg, 14%, 45%);
  --color-gray-40-o25: hsl(214deg, 14%, 45%, 25%);
  --color-gray-40-o50: hsl(214deg, 14%, 45%, 50%);
  --color-gray-40-o75: hsl(214deg, 14%, 45%, 75%);
  --color-gray-60: hsl(215deg, 22%, 34%);
  --color-gray-80: hsl(240deg, 6%, 3%);

  --pallet-primary: var(--color-blue);
  --pallet-secondary: hotpink;
  --pallet-error: hsl(4deg, 85%, 46%);

  --surface-primary: var(--color-white);
  --surface-secondary: var(--color-gray-20);
  --surface-secondary-shy: var(--color-gray-20-o25);
  --surface-secondary-soft: var(--color-gray-20-o50);
  --surface-secondary-subtle: var(--color-gray-20-o75);

  --text-primary: var(--color-gray-80);
  --text-secondary: var(--color-gray-60);
  --text-tertiary: var(--color-gray-40);
  --text-tertiary-soft: var(--color-gray-40-o50);
  --text-tertiary-subtle: var(--color-gray-40-o75);
  --text-link: var(--color-blue);
  --text-reverse: var(--color-white);

  --container-max-width: 80ch;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--surface-primary);
  color: var(--text-primary);
  font-family: var(--font-playfair-display);
  line-height: calc(1ex / 0.32);
  min-block-size: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

:where(ul, ol)[role='list'] {
  list-style: none;
}
:where(ul, ol):not([role='list']) > li + li {
  margin-block-start: calc(1ex / 0.64);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

h1,
h2 {
  line-height: calc(1ex / 0.42);
  margin-block: calc(1ex / 0.42);
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
  line-height: calc(1ex / 0.38);
  margin-block: calc(1ex / 0.38);
}
h4 {
  font-size: 1.5em;
  line-height: calc(1ex / 0.37);
  margin-block: calc(1ex / 0.37);
}

p {
  margin-block: calc(1ex / 0.32);
}

#__next {
  font-size: 1.125rem;
  isolation: isolate;
}
