.pitch-container {
  margin-inline: auto;
  max-inline-size: var(--container-max-width);
  padding: 3rem 1rem 5rem;
}
.pitch-container > article {
  direction: ltr;
}

.pitch-content {
  max-inline-size: 44ch;
}
.pitch-content p {
  font-size: 1.25rem;
  letter-spacing: 0.05ex;
  line-height: calc(0.8ex / 0.32);
}

.pitch-heading {
  font-size: 3rem;
  margin-block: 0 calc(1ex / 0.64);
}

.primary-button {
  background-color: var(--pallet-primary);
  border-radius: 2rem;
  border: none;
  color: var(--surface-primary);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.05ex;
  line-height: 2.25em;
  padding-block-end: 0.25ex;
  padding-inline: 1rem;
  text-decoration: none;
  transition: background-color 0.25s ease;
}
.primary-button:is(:hover, :focus) {
  background-color: hsl(216deg, 100%, 40%);
}

.pitch-section:nth-child(2n) {
  direction: rtl;
}
.pitch-section:nth-child(2) {
  background-color: var(--surface-secondary);
  color: var(--text-secondary);
}
.pitch-section p {
  font-weight: 550;
}
.pitch-section button {
  margin-block-start: 0.5rem;
}

.hero-section {
  background-color: var(--pallet-primary);
  background-image: linear-gradient(
    to bottom right,
    var(--pallet-primary) 0%,
    var(--pallet-secondary) 100%
  );
  color: var(--text-reverse);
  padding-block-start: 3.5rem;
  text-shadow: 0 0 10px var(--text-tertiary-subtle);
}
.hero-section p {
  font-weight: 450;
}
