.pitch-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  max-inline-size: var(--container-max-width);
  padding: 3rem 1rem 5rem;
}
.hero-section .pitch-container {
  gap: 2rem 0;
}
.pitch-section .pitch-container {
  gap: 2rem;
}

.pitch-container > .pitch-content {
  direction: ltr;
}

.pitch-container > span {
  display: flex;
  flex-basis: 17.1875rem;
  flex-grow: 999;
  justify-content: center;
}

.pitch-container img {
  block-size: auto;
  inline-size: 100%;
  max-inline-size: 22.5rem;
}

.pitch-content {
  flex-basis: 44ch;
  flex-grow: 1;
}
.pitch-content p {
  font-size: 1.25rem;
  letter-spacing: 0.05ex;
  line-height: calc(0.8ex / 0.32);
}
.hero-section .pitch-content {
  text-shadow: 0 0 10px var(--text-tertiary-subtle);
}

.hero-heading,
.pitch-heading {
  line-height: calc(1ex / 0.48);
  margin-block: 0;
  text-wrap: balance;
}
.hero-heading {
  font-size: clamp(3.5rem, 6.3vw + 1.6rem, 5rem);
}
.pitch-heading {
  font-size: clamp(2.5rem, 4.2vw + 1.3rem, 3.5rem);
}

.primary-button {
  background-color: var(--pallet-primary);
  border-radius: 2rem;
  border: none;
  color: var(--surface-primary);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.05ex;
  line-height: 2.25em;
  padding-block-end: 0.25ex;
  padding-inline: 1rem;
  text-decoration: none;
  transition: background-color 0.25s ease;
}
.primary-button:is(:hover, :focus) {
  background-color: hsl(216deg, 100%, 40%);
}

:where(.pitch-section, .hero-section) p {
  margin-block-start: calc(1ex / 0.42);
  text-wrap: balance;
}

.pitch-section:nth-child(2n) {
  direction: rtl;
}
.pitch-section:nth-child(2) {
  background-color: var(--surface-secondary);
  color: var(--text-secondary);
}
.pitch-section p {
  font-weight: 550;
}
.pitch-section button {
  margin-block-start: 0.5rem;
}

.hero-section {
  background-color: var(--pallet-primary);
  background-image: linear-gradient(
    to bottom right,
    var(--pallet-primary) 0%,
    var(--pallet-secondary) 100%
  );
  color: var(--text-reverse);
  padding-block-start: 3.5rem;
}
.hero-section p {
  font-weight: 450;
}
