.user-info,
.list-content {
  margin-inline: auto;
  max-width: var(--container-max-width);
  padding: 0.5rem 1rem 1rem;
}

.user-banner {
  background-color: var(--pallet-primary);
  background-image: linear-gradient(
    to bottom right,
    var(--pallet-primary) 0%,
    var(--pallet-secondary) 100%
  );
  height: calc(150px + (32px + 1rem));
  margin-top: calc(-32px - 1rem);
  width: 100%;
}

.user-info {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
}

.share-button,
.list-editor > summary {
  background-color: var(--surface-secondary-soft);
  border-radius: 4em;
  color: var(--text-primary);
  cursor: pointer;
  line-height: 32px;
  transition: background-color 0.25s ease;
}
.share-button:where(:hover, :active),
.list-editor summary:where(:hover, :active) {
  background-color: var(--surface-secondary-subtle);
}

.share-button {
  border: none;
  padding: 0.5rem;
}

.list-editor > summary {
  padding-inline: 1.25em;
  width: fit-content;
}
.list-editor > summary:first-of-type {
  list-style: none;
}
.list-editor > summary::-webkit-details-marker {
  display: none;
}

.list-editor form,
.form-item {
  display: grid;
}

.list-editor form {
  gap: 0.5rem;
  margin-block-start: 1rem;
}

.form-item label {
  font-weight: 600;
  padding-inline: 6px;
}

.list-editor input {
  border-radius: 6px;
  border: solid 1px var(--surface-secondary);
  padding: 0.5rem 0.75rem;
}
.list-editor input::placeholder {
  color: var(--text-tertiary-subtle);
}

.form-item p {
  font-size: 0.875rem;
  margin-block: 0;
}

.user-image {
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--surface-primary);
  border-radius: 50%;
  border: solid 3px var(--surface-primary);
  display: block;
  justify-content: center;
  margin-block-start: calc((-6.625rem / 2) - 0.5rem);
  overflow: hidden;
  width: 6.625rem;
}
.user-image img {
  aspect-ratio: 1;
  border-radius: 50%;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.username {
  font-weight: 500;
  margin-block: 0;
}

.full-name {
  color: var(--text-secondary);
}

.list-heading {
  font-size: 1rem;
  font-weight: 600;
  margin-block: 0 1rem;
}

.list {
  padding-inline-start: 0;
}

.empty-list {
  align-items: center;
  color: var(--text-tertiary-soft);
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  gap: 0.5rem;
  padding: 2rem;
}
