.content {
  align-items: center;
  color: var(--text-reverse);
  display: flex;
  gap: 1rem;
  inline-size: 100%;
  justify-content: space-between;
  min-block-size: calc(2rem + (0.75rem * 2));
  padding-block: 0.75rem;
  padding-inline: 1rem;
  position: absolute;
  top: 0;
}

.logo-mark {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.125ex;
}

.primary-button,
.secondary-button {
  background-color: transparent;
  border-radius: 2rem;
  color: var(--text-reverse);
  cursor: pointer;
  font-size: 0.9375rem;
  letter-spacing: 0.05ex;
  line-height: 1.625rem;
  padding-inline: 1rem;
  transition: background-color 0.25s ease;
}

.primary-button {
  border: solid 2px var(--surface-secondary-subtle);
}
.primary-button:where(:hover, :active) {
  background-color: var(--surface-secondary-shy);
}

.secondary-button {
  border: none;
}
.secondary-button:where(:hover, :active) {
  background-color: var(--surface-secondary-shy);
}

.user-controls {
  display: flex;
  gap: 0.5rem;
}
